{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="comment-area">
    <h2 class="comment-heading" data-aos="fade-up" data-aos-delay="200">Comments ({{blogs.len}})</h2>
    <div class="review-wrapper">
        {% for blog in blogs %}
        <div class="single-review" data-aos="fade-up" data-aos-delay="200">
            {% if blog.cover_image %}
                <div class="review-img">
                    <img src="{{blog.cover_image.url}}" alt="" />
                </div>
            {% endif %}
            <div class="review-content">
                <div class="review-top-wrap">
                    <div class="review-left">
                        <div class="review-name">
                            <h4 class="title">{{blog.title}} </h4>
                            <span class="date">{{blog.created_date}}</span>
                        </div>
                    </div>
                </div>
                <div class="review-bottom">
                    <p>
                        {{blog.description}}
                    </p>
                    <div class="review-left">
                        {% for comment in comments %}
                            {% if comment.blog == blog %}
                                <div class="review-content">
                                    <div class="review-top-wrap">
                                        <div class="review-left">
                                            <div class="review-name">
                                                <h4 class="title">{{comment.title}} </h4>
                                                <span class="date">{{comment.created_date}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-bottom">
                                        <p>
                                            {{comment.description}}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>



<form method="post" class="blog-comment-form ">
    {% csrf_token %}
    {% include 'includes/message.html' %}
    {{formcomment.non_field_errors}}
    <div class="form-inner">
        <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="single-form mb-lm-15px">
            <!-- <input type="text" placeholder="Name *" /> -->
                    {{formcomment.blog}}
                    {{formcomment.blog.errors}}
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="single-form mb-lm-15px">
                    <!-- <input type="text" placeholder="Name *" /> -->
                     {{formcomment.title}}
                     {{formcomment.title.errors}}
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="single-form mb-lm-15px">
                    <!-- <input type="email" placeholder="Email *" /> -->
                    {{formcomment.description}}
                    {{formcomment.description.errors}}
                </div>
            </div>
            <div class="col-md-12" data-aos="fade-up" data-aos-delay="200">
                <button class="btn btn-primary btn-hover-dark border-0 mt-30px" type="submit">Post A Comment</button>
            </div>
        </div>
    </div>
</form>

<form method="post" class="blog-comment-form">
    {% csrf_token %}
    {% include 'includes/message.html' %}
    {{form.non_field_errors}}
    <h2 class="comment-heading" data-aos="fade-up" data-aos-delay="200">Leave a Comment</h2>
    <div class="form-inner">
        <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="single-form mb-lm-15px">
                    <!-- <input type="text" placeholder="Name *" /> -->
                     {{form.title}}
                     {{form.title.errors}}
                </div>
            </div>
            <div class="col-md-12" data-aos="fade-up" data-aos-delay="500">
                <div class="single-form mb-lm-15px">
                    <!-- <input type="email" placeholder="Subject (Optinal)" /> -->
                    {{form.cover_image}}
                    {{form.cover_image.errors}}
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="single-form mb-lm-15px">
                    <!-- <input type="email" placeholder="Email *" /> -->
                    {{form.description}}
                    {{form.description.errors}}

                </div>
            </div>

            <div class="col-md-12" data-aos="fade-up" data-aos-delay="200">
                <button class="btn btn-primary btn-hover-dark border-0 mt-30px" type="submit">Post A Comment</button>
            </div>
        </div>
    </div>
</form>




{% endblock %}